<%= form_with(model: @driver, local: true) do |form| %>


  <% if @driver.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@driver.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @driver.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :phone %><br>
    <%= form.text_field :phone %>
  </p>

  <p>
    <%= form.label :email %><br>
    <%= form.text_field :email %>
  </p>

  <p>
    <%= form.label :car_make %><br>
    <%= form.text_field :car_make %>
  </p>

  <p>
    <%= form.label :car_model %><br>
    <%= form.text_field :car_model %>
  </p>

  <p>
    <%= form.label :car_color %><br>
    <%= form.text_field :car_color %>
  </p>


  <p>
    <%= form.submit %>
  </p>


<% end %>