
<h1>Listing Drivers</h1>

<%= link_to 'New Driver', new_driver_path %>
<table>
  <tr>
    <th>ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Car Make</th>
    <th>Car Model</th>
    <th>Car Color</th>
    <th></th>
  </tr>

  <% @drivers.each do |driver| %>
    <% if driver.organization.name==current_organization.name%>
      <tr>
        <td><%= driver.id %></td>
        <td><%= driver.first_name %></td>
        <td><%= driver.last_name %></td>
        <td><%= driver.phone %></td>
        <td><%= driver.email %></td>
        <td><%= driver.car_make %></td>
        <td><%= driver.car_model %></td>
        <td><%= driver.car_color %></td>
        <td><%= link_to 'Show', driver_path(driver) %></td>
        <td><%= link_to 'Edit', edit_driver_path(driver) %></td>
        <td><%= link_to 'Destroy', driver_path(driver),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  <% end %>
</table>

<%= link_to 'Back', welcome_index_path %>
