
<h1>Listing Rides</h1>

<%= link_to 'New Ride', new_ride_path %>
<table>
  <tr>
    <th>Ride ID</th>
    <th>Rider ID</th>
    <th>Driver ID</th>
    <th>Pick Up Time</th>
    <th>Reason</th>
    <th>Status</th>
    <th></th>
  </tr>

  <% @rides.each do |ride| %>
    <% if ride.organization.name==current_organization.name%>
    <tr>
      <td><%= ride.id %></td>
      <td><%= ride.rider_id %></td>
      <td><%= ride.driver_id %></td>
      <td><%= ride.pick_up_time %></td>
      <td><%= ride.reason %></td>
      <td><%= ride.status %></td>
      <td><%= link_to 'Show', ride_path(ride) %></td>
      <td><%= link_to 'Edit', edit_ride_path(ride) %></td>
      <td><%= link_to 'Destroy', ride_path(ride),
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  <% end %>
</table>

<%= link_to 'Back', welcome_index_path %>
