
<h1>Listing Organizations</h1>

<%= link_to 'New Organization', new_organization_path %>
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Street</th>
    <th>City</th>
    <th>State</th>
    <th>Durham</th>

    <th></th>
  </tr>

  <% @organizations.each do |org| %>
    <tr>
      <td><%= org.id %></td>
      <td><%= org.name %></td>
      <td><%= org.street %></td>
      <td><%= org.city %></td>
      <td><%= org.state %></td>
      <td><%= org.zip %></td>
      <td><%= link_to 'Show', organization_path(org) %></td>
      <td><%= link_to 'Edit', edit_organization_path(org) %></td>
      <td><%= link_to 'Destroy', organization_path(org),
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Back', welcome_index_path %>
