
<h1>Listing Organizations</h1>

<%= link_to 'New Organization', new_organization_path %>
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>

    <th></th>
  </tr>

  <% @organizations.each do |org| %>
      <% if org.name==current_organization.name%>
    <tr>
      <td><%= org.id %></td>
      <td><%= org.name %></td>
      <td><%= link_to 'Show', organization_path(org) %></td>
      <td><%= link_to 'Edit', edit_organization_path(org) %></td>
      <td><%= link_to 'Destroy', organization_path(org),
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  <% end %>
</table>

<%= link_to 'Back', welcome_index_path %>
